
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin: 20px;
    color: #333;
}

article {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Sora', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

video {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.article-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.article-info time,
.article-info address {
    font-style: italic;
    color: #777;
}

strong {
    font-weight: bold;
}